.navbar{
    background: rgb(31,185,19);
    background: linear-gradient(90deg, rgba(31,185,19,1) 0%, rgba(9,121,27,1) 60%, rgba(33,121,5,1) 100%);
}

ul li a{
    list-style: none;
    color: black;
    text-decoration: none;
}


.side-navbar-container{
    width: 25%;
    
}