.card-container{
    display: flex;
}
.card{
    margin-left: 5%;
    margin-top: 5%;
}
.card-body{
    width: 100%;
    text-align: center;
    display: flex;
}
.card-body img {
    width: 24px;
    height: 24px;
    justify-content: center;
}

.card-body div{
    width: 100%;
    text-align: right;
    display: block;
}