.report-container{
    display: block;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.report-heading{
    width: 100%;
    text-align: center;
}

.print-date-time{
    width: 100%;
    text-align: right;
}

.report-content{
    width: 100%;
    display: flex;
}

.report-content-heading{
    width: 50%;
}

.report-container-heading{
    width: 100%;
    background-color: grey;
    text-align: center;
}

.report-content-container{
    display: flex;
    width: 100%;
}

.left-report-content{
    width: 50%;
}
.right-report-content{
    width: 50%;
}
.right-report-content div{
    display: flex;
    border: 1px solid grey;
}
.right-report-content div label{
    width: 50%;
}

.right-report-content div img{
    width: 200px;
    height: 100px;
}

.left-report-content div{
    display: flex;
    border: 1px solid grey;
}
.left-report-content div label{
    width: 50%;
}