.success-main-container{
    position: absolute;
    width: 100%;
    background-color: black;
}

.success{
    color: green;
    z-index: 2;
}

.failure{
    color: red;
}

.logout{
    width: 50%;
    position: absolute;
    background: rgb(31,185,19);
    background: linear-gradient(90deg, rgba(31,185,19,1) 0%, rgba(9,121,27,1) 60%, rgba(33,121,5,1) 100%);
    text-align: center;
    margin-left: 25%;
    margin-top: 15%;
    padding: 5%;
    z-index: 2;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

